#controls-panel {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    padding: 2px 20px 10px;
    border-top-left-radius: $round-corners;
    border-top-right-radius: $round-corners;
    background: $light-gb;
    
    overflow: hidden;

    .icons {
        margin-left: calc(100% - 10px);
        margin-bottom: 10px;

        .minimize, .maximize {
            padding: 2px;
            border-radius: $round-corners;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                background: $light-gb;
            }
        }
    }

    /* #controls-panel Hide Show */
    #controls {
        overflow: hidden;
        transition: 0.5s;
    }
    &[minimized='true'] {
        #controls { height: 0; }
        
        .icons {
            margin-bottom: 0;

            .minimize { display: none;/*****/ }
            .maximize { display: initial;/**/ }
        }
    }
    &[minimized='false'] {
        .icons {
            .minimize { display: initial;/**/ }
            .maximize { display: none;/*****/ }
        }
    }
}
