<div id="controls-panel" minimized="true">
    <script>
        setTimeout(() => hidePanel('false'), 2000)
    </script>

    <div id="hide-show-icons">
        <span id="minimize-icon" title="Minimize" onclick="hidePanel('true')">&#128469;&#xFE0E;</span>      <!-- Minimize -->
        <span id="maximize-icon" title="Maximize" onclick="hidePanel('false')">&#128470;&#xFE0E;</span>     <!-- Maximize -->
    </div>
    
    <script>
        const CONTROL_PANEL = document.getElementById('controls-panel')
        function hidePanel(value) {
            CONTROL_PANEL.setAttribute('minimized', value)
        }
    </script>

    <div id="controls">
        @@include('controls/nodes.html')

        <div class="chk-boxs">
            <div>
                <input type="checkbox" id="gravity" onchange="gravity=this.checked" checked>
                <label for="gravity">Gravity</label>
            </div>

            <div>
                <input type="checkbox" id="lines" onchange="lines=this.checked" checked>
                <label for="lines">Connections</label>
            </div>
        </div>

        <!-- Edges -->
        @@include('controls/edges.html')

        <!-- Nodes Nature -->
        @@include('controls/nodes-nature.html')
    </div>
</div>
