<section id="nodes">
    <div class="container">
        <div class="btns-and-number-container">
            <div class="btns">
                <button class="btn-round" title="Add one">&#x2b;</button>
                <button class="btn-round" title="Remove one">&#8722;</button>
            </div>
            <span id="no-of-nodes"></span>
        </div>
        <span>Nodes</span>
    </div>

    <script>
        const NO_OF_NODES_ELEM = document.getElementById('no-of-nodes')
        updateNoOfNodes()
        function updateNoOfNodes() {
            NO_OF_NODES_ELEM.innerText = noOfNodes
        }
    </script>


    <!-- Media Buttons -->
    <div id="media-btns">
        <span id="fast-forward" title="Fast forward">&#x23EE;</span>
        <div class="play-pause" paused="false" onclick="playPause(this)">
            <span id="play" title="Play">&#x23F5;</span>
            <span id="pause" title="Pause">&#x23F8;</span>
        </div>
        <span id="fast-rewind" title="Fast rewind">&#x23ED;</span>
    </div>

    <script>
        function playPause(elem) {
            const isPaused = elem.getAttribute('paused')

            if (isPaused === 'true') {
                elem.setAttribute('paused', 'false')
            }
            else {
                elem.setAttribute('paused', 'true')
            }
        }
    </script>
</section>
